# This is a template designed to help you get started with .env files for this project
# Create a copy of this file and name it exactly `.env` and fill in the values for your needs
#
# WARN: Do not change this file, use it as a template only!
AOC_SESSION = ""
